In [45]:
import pandas as pd
import os
from sqlalchemy import create_engine

<H1>Create list of files in directory</H1>

In [46]:
#iterate over saved spreadsheets to create dataframe of training matrices.
path = r"../resources"
files = os.listdir(path)
print(files)

['2013-08 - Citi Bike trip data.csv', '201608-citibike-tripdata.csv', '201908-citibike-tripdata.csv', 'Munged']

<h1>Iterate through files and add to dataframe</h1>

In [156]:
df = pd.DataFrame()
file = [f for f in files if f[-3:] == 'csv']  # make a list of only csv files in directory
for f in file:
    data = pd.read_csv(os.path.join(path, f))
    print(f"read CSV {f}")
    #Take 25% of records
    data = data[0:(data.bikeid.count()/4).round(0).astype(int)]
    time = pd.to_datetime(data['starttime'])
    data['year'] = time.dt.year
    data['birth year'] = pd.to_datetime(data['birth year'], errors='coerce')
    df = df.append(data, ignore_index = True)
    print("data added to df")
print("Complete")
df.head(4)

read CSV 2013-08 - Citi Bike trip data.csv
data added to df
read CSV 201608-citibike-tripdata.csv
data added to df
read CSV 201908-citibike-tripdata.csv
data added to df
Complete

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,year
0,664,2013-08-01 00:00:00,2013-08-01 00:11:04,449.0,W 52 St & 9 Ave,40.764618,-73.987895,479.0,9 Ave & W 45 St,40.760193,-73.991255,20068,Subscriber,1944-01-01,1,2013
1,2115,2013-08-01 00:00:01,2013-08-01 00:35:16,254.0,W 11 St & 6 Ave,40.735324,-73.998004,195.0,Liberty St & Broadway,40.709056,-74.010434,17095,Subscriber,1974-01-01,1,2013
2,385,2013-08-01 00:00:03,2013-08-01 00:06:28,460.0,S 4 St & Wythe Ave,40.712859,-73.965903,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,18197,Customer,NaT,0,2013
3,653,2013-08-01 00:00:10,2013-08-01 00:11:03,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,398.0,Atlantic Ave & Furman St,40.691652,-73.999979,17080,Customer,NaT,0,2013

# Calculate Subscriber Ages

In [157]:
df['age'] = df.year - df['birth year']

TypeError: ufunc subtract cannot use operands with types dtype('int64') and dtype('<M8[ns]')

# Create Dataframes for Database

In [79]:
origin = df[['start station id', 'start station name', 'start station latitude', 'start station longitude' ]]

In [80]:
destination = df[['end station id', 'end station name', 'end station latitude', 'end station longitude']]

In [93]:
rides = df[['tripduration', 'starttime', 'stoptime', 'bikeid', 'usertype','birth year', 'gender','age', 'year']]

# Add key field to all tables

In [82]:
destination['rideid'] = destination.index+100

C:\Users\bastaw1\AppData\Local\Continuum\anaconda3\envs\env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [83]:
origin['rideid'] = origin.index+100

C:\Users\bastaw1\AppData\Local\Continuum\anaconda3\envs\env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [95]:
rides['rideid'] = rides.index+100

C:\Users\bastaw1\AppData\Local\Continuum\anaconda3\envs\env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

# Clean up Origin and Destination DF

In [85]:
origin['Origin_Destination'] = "Origin"
destination['Origin_Destination'] = "Destination"

C:\Users\bastaw1\AppData\Local\Continuum\anaconda3\envs\env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\bastaw1\AppData\Local\Continuum\anaconda3\envs\env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [86]:
origin = origin.rename(columns = {"start station id": "Station id", "start station name": "Station Name", "start station latitude": "Latitude", "start station longitude": "Longitude"})
destination = destination.rename(columns = {"end station id": "Station id", "end station name": "Station Name", "end station latitude": "Latitude", "end station longitude": "Longitude"})

# Combine Origin and Destination

In [87]:
ridgeo = origin.append(destination, ignore_index = True)

In [106]:
df_2016 = rides[rides['year']==2016]

array([46., nan])

# Connect to Database

In [89]:
# rds_connection_string = f'{'postgres'}:{'7718bill'}@{'localhost'}:{5432}/{}'
engine = create_engine(f"postgres://postgres:7718bill@localhost:5432/citibike")

# Add Data to Database

In [96]:
rides.to_sql('riders', con=engine, if_exists='replace')

In [92]:
ridgeo.to_sql('geo_data',con = engine, if_exists='replace')