In [4]:
import pandas as pd
import os
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists, drop_database

# Important: Enter Postgresql password

In [6]:
password = ' ENTER YOUR PASSWORD'

<H1>Create list of files in directory</H1>

In [53]:
#iterate over saved spreadsheets to create dataframe of training matrices.
path = r"../resources"
files = os.listdir(path)
print(files)

['2013-08 - Citi Bike trip data.csv', '201608-citibike-tripdata.csv', '201908-citibike-tripdata.csv', 'Munged']

<h1>Convert CSV's to Dataframes</h1>

In [85]:
df = pd.DataFrame()
file = [f for f in files if f[-3:] == 'csv']  # make a list of only csv files in directory

data_2013 = pd.read_csv(os.path.join(path, file[0]))
print(f"read CSV {file[0]}")
#Take 25% of records
data_2013 = data_2013[0:(data_2013.bikeid.count()/4).round(0).astype(int)]
time = pd.to_datetime(data_2013['starttime'])
data_2013['year'] = time.dt.year
data_2013['hour'] = time.dt.hour
data_2013['birth year'] = pd.to_datetime(data_2013['birth year'], format = '%Y', errors='coerce')
data_2013['age'] = data_2013.year - data_2013['birth year'].dt.year
data_2013['Path ID'] = data_2013['start station id'].astype(str) +"_"+ data_2013['end station id'].astype(str)
df = df.append(data_2013, ignore_index = True)
print("data added to df")
print("Complete")
# data_2013.head(4)

read CSV 2013-08 - Citi Bike trip data.csv
data added to df
Complete

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,year,hour,age,Path ID
0,664,2013-08-01 00:00:00,2013-08-01 00:11:04,449,W 52 St & 9 Ave,40.764618,-73.987895,479,9 Ave & W 45 St,40.760193,-73.991255,20068,Subscriber,1944-01-01,1,2013,0,69.0,449_479
1,2115,2013-08-01 00:00:01,2013-08-01 00:35:16,254,W 11 St & 6 Ave,40.735324,-73.998004,195,Liberty St & Broadway,40.709056,-74.010434,17095,Subscriber,1974-01-01,1,2013,0,39.0,254_195
2,385,2013-08-01 00:00:03,2013-08-01 00:06:28,460,S 4 St & Wythe Ave,40.712859,-73.965903,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,18197,Customer,NaT,0,2013,0,NaN,460_2002
3,653,2013-08-01 00:00:10,2013-08-01 00:11:03,398,Atlantic Ave & Furman St,40.691652,-73.999979,398,Atlantic Ave & Furman St,40.691652,-73.999979,17080,Customer,NaT,0,2013,0,NaN,398_398

In [86]:

data_2016 = pd.read_csv(os.path.join(path, file[1]))
print(f"read CSV {file[1]}")
#Take 25% of records
data_2016 = data_2016[0:(data_2016.bikeid.count()/4).round(0).astype(int)]
time = pd.to_datetime(data_2016['starttime'])
data_2016['year'] = time.dt.year
data_2016['hour'] = time.dt.hour
data_2016['birth year'] = pd.to_datetime(data_2016['birth year'], format = '%Y', errors='coerce')
data_2016['age'] = data_2016.year - data_2016['birth year'].dt.year
data_2016['Path ID'] = data_2016['start station id'].astype(str) +"_"+ data_2016['end station id'].astype(str)
df = df.append(data_2016, ignore_index = True)
print("data added to df")
print("Complete")
# data_2016.head(4)

read CSV 201608-citibike-tripdata.csv
data added to df
Complete

In [87]:
data_2019 = pd.read_csv(os.path.join(path, file[2]))
print(f"read CSV {file[2]}")
#Take 25% of records
data_2019 = data_2019[0:(data_2019.bikeid.count()/4).round(0).astype(int)]
time = pd.to_datetime(data_2019['starttime'])
data_2019['year'] = time.dt.year
data_2019['hour'] = time.dt.hour
data_2019['birth year'] = pd.to_datetime(data_2019['birth year'], format = '%Y', errors='coerce')
data_2019['age'] = data_2019.year - data_2019['birth year'].dt.year
data_2019['Path ID'] = data_2019['start station id'].astype(str) +"_"+ data_2019['end station id'].astype(str)
df = df.append(data_2019, ignore_index = True)
print("data added to df")
print("Complete")
# data_2016.head(4)

read CSV 201908-citibike-tripdata.csv
data added to df
Complete

# Add key field

In [89]:
df['rideid'] = df.index+100

# Create Dataframes for Database

In [59]:
origin = df[['rideid','start station id', 'start station name', 'start station latitude', 'start station longitude' ]]

In [60]:
destination = df[['rideid','end station id', 'end station name', 'end station latitude', 'end station longitude']]

In [90]:
rides = df[['rideid','tripduration', 'starttime', 'stoptime', 'bikeid', 'usertype','birth year', 'gender','age', 'year', 'hour','Path ID']]

# Clean up Origin and Destination DF

In [62]:
origin['Origin_Destination'] = "Origin"
destination['Origin_Destination'] = "Destination"

C:\Users\bastaw1\AppData\Local\Continuum\anaconda3\envs\env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\bastaw1\AppData\Local\Continuum\anaconda3\envs\env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [63]:
origin = origin.rename(columns = {"start station id": "Station id", "start station name": "Station Name", "start station latitude": "Latitude", "start station longitude": "Longitude"})
destination = destination.rename(columns = {"end station id": "Station id", "end station name": "Station Name", "end station latitude": "Latitude", "end station longitude": "Longitude"})

# Combine Origin and Destination

In [64]:
ridgeo = origin.append(destination, ignore_index = True)

# Connect to Database

In [ ]:

engine = create_engine(f"postgres://postgres:{password}@localhost:5432/citibike")

# If a PostgreSQL database with this name exists
if database_exists(engine.url):
    # Delete PostgreSQL database 
    drop_database(engine.url)
    # Create empty PostgreSQL database
    create_database(engine.url)
    print(f'The database {engine.url.database} already exists')
# Otherwise
else:
    # Create empty PostgreSQL database
    create_database(engine.url)
    print(f'The database {engine.url.database} has been created')

# Add Data to Database

In [91]:
rides.to_sql('riders', con=engine, if_exists='replace')

In [67]:
ridgeo.to_sql('geo_data',con = engine, if_exists='replace')